// Generated with Lushay Code

IO_LOC  "i_clk" 52;
IO_PORT "i_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "led[0]" 10;
IO_PORT "led[0]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[1]" 11;
IO_PORT "led[1]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[2]" 13;
IO_PORT "led[2]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[3]" 14;
IO_PORT "led[3]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[4]" 15;
IO_PORT "led[4]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[5]" 16;
IO_PORT "led[5]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "i_reset" 3;
IO_PORT "i_reset" IO_TYPE=LVCMOS18;

IO_LOC  "btn2" 4;
IO_PORT "btn2" IO_TYPE=LVCMOS18;

IO_LOC  "sdClk" 36;
IO_PORT "sdClk" IO_TYPE=LVCMOS33;

IO_LOC  "sdMiso" 39;
IO_PORT "sdMiso" IO_TYPE=LVCMOS33;

IO_LOC  "sdMosi" 37;
IO_PORT "sdMosi" IO_TYPE=LVCMOS33;

IO_LOC  "sdCs" 38;
IO_PORT "sdCs" IO_TYPE=LVCMOS33;

IO_LOC  "flashClk" 59;
IO_PORT "flashClk" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "flashMiso" 62;
IO_PORT "flashMiso" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "flashMosi" 61;
IO_PORT "flashMosi" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "flashCs" 60;
IO_PORT "flashCs" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "uartTx" 17;
IO_PORT "uartTx" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "uartRx" 18;
IO_PORT "uartRx" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "hdmiTmdsData[0]" 71,70;
IO_PORT "hdmiTmdsData[0]" DRIVE=8;

IO_LOC  "hdmiTmdsData[1]" 73,72;
IO_PORT "hdmiTmdsData[1]" DRIVE=8;

IO_LOC  "hdmiTmdsData[2]" 75,74;
IO_PORT "hdmiTmdsData[2]" DRIVE=8;

IO_LOC  "hdmiTmdsClk" 69,68;
IO_PORT "hdmiTmdsClk" DRIVE=8;
